<div id="<%= dom_id link %>">
  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Original url:</strong>
    <%= link.original_url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

</div>
