<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex md:space-x-8">
          <%= link_to('Links', links_path, class: 'border-green-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium') %>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to('Shorten Link', new_link_path, class: 'relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500') %>
        </div>
      </div>
    </div>
  </div>
</nav>
